{block title}Složky<span class="opacity-5"> | Uložiště</span>{/block}

{block content}
  <div class="mb-3">
    <a n:href="folderForm" class="btn btn-sm btn-success">Nová složka</a>
  </div>
  {control foldersList}
{/block}